input.ng-invalid.ng-dirty {
    border-bottom-color: #e91e63;
    box-shadow: #e91e63;
}

button.btn-submit {
    width: 100%;
}

ul.answer li:hover {
    background-color: #26a69a;
    color: #eafaf9;
    cursor: pointer;
}

ul li.selected {
    background-color: #26a69a !important;
    color: #eafaf9 !important;
}